# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/

# =========================
# Environment Variables (IMPORTANT)
# =========================
.env

# =========================
# Django
# =========================
db.sqlite3
/media/
staticfiles/

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / Distribution
# =========================
dist/
build/

# =========================
# Node (if any frontend tools used)
# =========================
node_modules/